@font-face {
    font-family: Ubuntu;
    src: url(fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}


body,
p,
h1,
h2,
h3 {
    margin: 0;
}

body {
    background: #EBEBEB;
}

.header {
    padding-top: 28px;
    display: flex;
    flex-direction: column;
    background: #FFF;
}

.header__row {
    padding: 0 165px;
}

.header__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__name {
    display: inline-flex;
    height: 22px;
    align-items: center;
    gap: 5px;
    flex-shrink: 0;
}

.header__name p {
    color: #333;

    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.header__name div {
    width: 32px;
    height: 17px;
    border-radius: 11px;
    border: 1px solid #333;
}

.header__buttons {
    display: inline-flex;
    align-items: flex-start;
    gap: 30px;
}

.header__icons {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.header__nav {
    display: flex;
    flex-direction: row;
    gap: 60px
}

.nav-in-header {
    display: none;
}

.header__nav p {
    color: #4C5866;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__mobile-nav {
    display: none;
    flex-direction: row;
    justify-content: space-between;
}

.header__line,
.header__line2 {
    background: #DDD;
    height: 1px;
}

.header__line {

    margin-top: 27px;
}

.header__line2 {
    display: none;
}

.hero {
    height: 620px;
    overflow: hidden;
    padding: 0 165px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #FFF;
}

.hero img {
    height: 1336px;
    padding-top: 60px;
    float: left;
}

.hero__content {
    display: flex;
    align-items: center;
}

.hero__content-block {
    width: 445px;
    height: 360px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero__content-block h1 {
    color: #4C5866;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 60px */
}

.hero__content-block p {
    color: #85859B;

    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}

.results {
    padding: 90px 165px;
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.results__variants {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.results__variant {
    width: 350px;
}

.results__variant-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.results__line {
    width: 100%;
    height: 1px;
    background: #C0C0C0;
    margin-bottom: 19px;
}

.results__variant-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.results__variant-number {
    color: #666;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 27px */
}

.results__variant-text {
    width: 160px;
    color: #85859B;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}

.results__variant-content img {
    width: 160px;
    height: 118px;
    object-fit: contain;
}

.results__info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.results__info-text {
    max-width: 350px;
}

.results__info-text h2 {
    color: #666;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 40px */
}

.results__info-text p {
    padding-top: 20px;
    color: #85859B;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    /* 30.6px */
}

.results__info img {
    max-width: 730px;
    width: 100%;
    /* height: 564px; */
}

.products {
    background: #FFF;
    padding: 90px 165px;
    display: flex;
    justify-content: center;
}

.products__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 40px;
}

.products__product {
    width: 255px;
    height: 465px;
    overflow: hidden;
}

.products__img {
    width: 100%;
    height: 180px;
    background: #EBEBEB;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.products__product h3 {
    color: #666;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-top: 20px;
}


.products__count {
    color: #B5B5BD;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding: 8px 0px;
}

.products__info {
    color: #85859B;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    /* 30.6px */

    padding-bottom: 20px;
}

.partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 90px 165px;
    row-gap: 30px;
}

.partners img {
    width: 255px;
    height: 135px;
}

.sketch {
    height: 500px;
    padding: 0 165px;
    background: #FFF;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
}

.sketch__info {
    width: 350px;
}

.sketch__info h2 {
    color: #666;
    font-family: Roboto;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 40px */
}

.sketch__text {
    color: #85859B;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    /* 30.6px */
    padding-top: 8px;
    padding-bottom: 30px;
}

.sketch__img-container {
    width: 730px;
    height: 100%;
}

.sketch__img-container img {
    width: 100%;
    padding-top: 90px;
}

.footer {
    height: 80px;
    background: #4C5866;
    padding: 0 165px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.footer__logo {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.footer__logo div {
    border-radius: 11px;
    border: 1px solid #FFF;
    width: 32px;
    height: 17px;
}

.footer__logo p {
    color: #FFF;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.footer__line {
    width: 100%;
    height: 1px;
    opacity: 0.2;
    background: #DDD;
    display: none;
}

.footer__links {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.copyright {
    height: 21px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p {
    color: #4C5866;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.copyright span {
    color: #BCBCBC;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}